{% extends "layouts/default.html" %} {% block main %}
<div class="max-w-md mx-auto mt-20 p-6 bg-white rounded-lg shadow-md text-center">
  <h2 class="text-2xl font-semibold mb-4">密碼重設完成</h2>
  <p class="text-gray-700 mb-6">您的密碼已成功重設，請使用新密碼登入。</p>
  <a href="{% url 'users:index' %}" class="inline-block w-full rounded-md border border-transparent bg-[#5a855a] px-8 py-3 text-base font-medium text-white hover:bg-[#2e4e2e] focus:bg-[#2e4e2e] focus:ring-2 focus:ring-[#2e4e2e] focus:ring-offset-2 focus:outline-none">前往登入頁</a>
</div>
{% endblock %}
