{% extends "layouts/default.html" %} {% block main %}
<div class="bg-white">
  <div class="relative z-0 isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl pointer-events-none sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-gradient-to-tr from-[#A8E6A2] to-[#3A8D3D] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>

    <!-- prettier-ignore -->
    <div class="mx-auto max-w-4xl py-12 sm:py-20 lg:py-24">
      <div class="text-center">
        <h1 class="text-5xl font-semibold tracking-tight text-balance text-[#3A8D3D] sm:text-7xl whitespace-pre-line">FitCal
          讓你吃得更聰明</h1>
        <p class="text-center text-lg sm:text-xl font-medium leading-normal text-pretty text-gray-700 whitespace-pre-line">
          想吃美食又怕熱量爆表？ FitCal 幫你搞定！<br>
          不只能自由選餐、掌握每一口的卡路里，還能收藏最愛店家、留下真心評價。<br>
          店家也能靠後台報表看清賺錢關鍵，輕鬆管理菜單與訂單。從今天起，吃得聰明、活得漂亮！<br>
          Fit Your Calories, Fit Your Life.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6 flex-wrap">
          <a href="{% url 'stores:index' %}" class="btn btn-lg rounded-md bg-[#3A8D3D] px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-[#64B564] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#3A8D3D]"><i class="fa-solid fa-utensils"></i>開始探索餐點 </a>
          <a href="{% url 'users:sign_in_store' %}" class="text-sm/6 font-semibold text-[#3A8D3D] hover:text-[#64B564]"> 商家加入 <span aria-hidden="true">→</span> </a>
        </div>
      </div>
    </div>

    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl pointer-events-none sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-gradient-to-tr from-[#A8E6A2] to-[#3A8D3D] opacity-30 sm:left-[calc(50%+36rem)] sm:w-288.75" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>
{% endblock main %}
