{% load static %}
<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitCal</title>

    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}" />
    <script type="module" src="{% static 'assets/scripts/app.js' %}"></script>
  </head>
  <body class="min-h-screen flex flex-col" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <main class="flex-1">
      <section class="max-w-7xl mx-auto">
        <nav>{% include 'shared/navbar.html' %}</nav>
        <div id="messages-container">{% include "shared/messages.html" %}</div>
        {% block main %}{% endblock main %}
      </section>
    </main>
    <footer class="bg-white-100 text-gray-700 px-6 py-10">{% include 'shared/footer.html' %}</footer>
  </body>
</html>
