<div hx-get="{% url 'products:show' product.id %}" hx-target="body" hx-swap="beforeend" class="bg-white rounded-xl shadow-md overflow-hidden relative cursor-pointer">
  <!-- 商品圖片 -->
  <div class="relative">
    <img src="{{ product.image.url|default:'https://fakeimg.pl/400x250' }}" alt="商品圖片" class="w-full h-48 object-cover" />

    <!-- 收藏按鈕 -->
    <div x-data class="absolute top-2 right-2 p-1.5 rounded-full hover:bg-red-50 cursor-pointer flex items-center" @click.stop>{% include "shared/collections_btn.html" with product=product member=user.member %}</div>
  </div>

  <!-- 商品資訊 -->
  <div class="p-4">
    <h3 class="text-lg font-semibold">{{ product.name }}</h3>
    <p class="text-sm text-gray-600">價格：${{ product.price }}</p>
    <p class="text-sm text-gray-600">卡路里：{{ product.calories }} kcal</p>
    <!-- 目前是假按鈕，待後續整合
      <button class="mt-2 w-full bg-green-500 hover:bg-green-600 text-white py-1.5 rounded-md text-sm">加入購物車</button>
      -->
  </div>
</div>
