{% extends 'layouts/default.html' %} {% block main %} {% if not user.is_store %}

<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for store in stores %}
    <!-- 商家卡片 -->
    {% include "stores/store_card.html" %} {% endfor %}
  </div>
</div>
{% endif %}

<!-- 如果是店家 -->
{% if user.is_store %} {% if store %}
<section class="mt-6 p-4 border rounded shadow">
  <img src="{{ store.logo_url }}" alt="{{ store.name }}LOGO" style="width: 200px; height: 200px" />
  <p class="font-bold text-lg">{% trans "您的店家資訊：" %}</p>
  <p>{% trans "店家名稱：" %}{{ store.name }}</p>
  <p>{% trans "店家地址：" %}{{ store.address }}</p>
  <p>{% trans "店家電話：" %}{{ store.phone_number }}</p>
  <p>{% trans "店家統編：" %}{{ store.tax_id }}</p>
  <p>{% trans "開店時間：" %}{{ store.opening_time }}</p>
  <p>{% trans "打烊時間：" %}{{ store.closing_time }}</p>
  <p class="mt-2 font-semibold">{% trans "平均評分：" %}{{ store.avg_rating|floatformat:1 }} {% trans "分" %}</p>

  <div class="mt-4 space-x-2">
    <a href="{% url 'stores:edit' store.id %}" class="btn btn-outline">{% trans "編輯店家資料" %}</a>
    <a href="{% url 'stores:show' store.id %}" class="btn btn-secondary">{% trans "前往店家頁面" %}</a>
  </div>
</section>
{% else %}
<a href="{% url 'stores:new' %}" class="btn mt-6">{% trans "新增店家資訊" %}</a>
{% endif %} {% endif %} {% endblock %}
