{% extends "layouts/default.html" %} {% block main %}
<h1>{{ store.user }}</h1>
<h1>{{ store.name }}</h1>

<ul>
  <li><strong>地址：</strong> {{ store.address }}</li>
  <li><strong>聯絡電話：</strong> {{ store.phone_number }}</li>
  <li><strong>統一編號：</strong> {{ store.tax_id }}</li>
</ul>

<!-- 編輯與刪除按鈕 -->
<a href="{% url 'stores:edit' store.pk %}">編輯</a>

<form action="{% url 'stores:delete' store.pk %}" method="post" style="display: inline">
  {% csrf_token %}
  <button type="submit" onclick="return confirm('確定要刪除嗎？');">刪除</button>
</form>

{% endblock %}
