{% load i18n %}
<div class="bg-white rounded-xl shadow-md overflow-hidden relative">
  <a href="{% url 'stores:show' store.id %}">
    <!-- 商家圖片 -->
    <div class="relative">
      <img src="{{ store.cover_url }}" alt="{% trans '店家封面' %}" class="w-full h-48 object-cover" />

      <!-- Logo -->
      <img src="{{  store.logo_url }}" alt="Logo" class="absolute top-2 left-2 w-10 h-10 rounded-full border-2 border-white" />

      <!-- 愛心，後續這個可以用annotate操作，一次查詢全部的店家是否有被該會員收藏 -->
      {% if user.is_authenticated %}
      <div x-data class="absolute top-2 right-2 p-1.5 rounded-full hover:bg-red-50 cursor-pointer flex items-center" @click.stop>{% include "shared/favorite_btn.html" with store=store member=user.member %}</div>
      {% endif %}
    </div>

    <!-- 商家資訊 -->
    <div class="p-4">
      <h2 class="text-lg font-semibold">{{ store.name }}</h2>
      <p class="text-sm text-gray-600">{{ store.address }}</p>
      <p class="text-sm text-gray-600">{% trans "營業時間：" %}{{ store.opening_time }}<span>~</span>{{ store.closing_time }}</p>
      <div class="flex items-center justify-between mt-2 text-sm text-gray-500">
        <!-- 功能尚未導入
            <span>距離：{{ store.distance }} {% trans "公里" %}</span>
            -->
        <span>⭐ {{ store.avg_rating|floatformat:1 }}</span>
      </div>
    </div>
  </a>
</div>
