{% load datetime_format %}
<div class="bg-white rounded-lg shadow-sm">
  <table class="w-full">
    <tbody>
      <tr class="border-b">
        <td class="py-3 px-4">訂單編號</td>
        <td class="py-3 px-4">
          <div class="text-blue-600 font-semibold">{{ order.order_number }}</div>
        </td>
      </tr>
      <tr class="border-b">
        <td class="py-3 px-4">取貨人姓名</td>
        <td class="py-3 px-4">{{ order.member_name }}</td>
      </tr>
      <tr class="border-b">
        <td class="py-3 px-4">聯絡電話</td>
        <td class="py-3 px-4">{{ order.member_phone }}</td>
      </tr>
      <tr class="border-b">
        <td class="py-3 px-4">取貨時間</td>
        <td class="py-3 px-4">{{ order.pickup_time|datetime_format }}</td>
      </tr>
      {% include "components/payment_info.html" with order=order %} {% if order.note %}
      <tr class="border-b">
        <td class="py-3 px-4">備註</td>
        <td class="py-3 px-4">{{ order.note }}</td>
      </tr>
      {% endif %}
      <tr class="border-b">
        <td class="py-3 px-4">建立時間</td>
        <td class="py-3 px-4">{{ order.created_at|datetime_format }}</td>
      </tr>
    </tbody>
  </table>
</div>
