{% load i18n %}
<div class="mb-6">
  <div class="flex items-start">
    <div>
      <div class="mb-2">
        <div class="inline-block py-2 font-semibold">{% trans "店家名稱：" %}{{ store.name }}</div>
      </div>
      <ul class="space-y-2">
        {% if store.phone_number %}
        <li class="flex items-center">
          <span class="mr-2">📞</span>
          <a href="tel:{{ store.phone_number }}" class="text-blue-600 hover:text-blue-800">{{ store.phone_number }}</a>
        </li>
        {% endif %}
        <li class="flex items-center">
          <span class="mr-2">📍</span>
          <a href="https://www.google.com/maps/search/{{ store.address }}" target="_blank" class="text-blue-600 hover:text-blue-800">{{ store.address }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
