{% if member in store.favorited_by.all %}
<i id="favorite-btn-{{ store.id }}" hx-swap="outerHTML" hx-post="{% url 'members:favorite' store.id %}" hx-target="#favorite-btn-{{ store.id }}" @click.prevent.stop class="fa-solid fa-heart text-red-500 text-3xl"></i>
{% else %}
<i id="favorite-btn-{{ store.id }}" hx-swap="outerHTML" hx-post="{% url 'members:favorite' store.id %}" hx-target="#favorite-btn-{{ store.id }}" @click.prevent.stop class="fa-regular fa-heart text-gray-400 text-3xl"></i>
{% endif %}
