<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-3xl">FITCAL</a>
  </div>
  <div class="flex-none flex items-center gap-0">
    <!--- search bar -->
    <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />

    <!--- 已登入購物車和個人資料狀態 -->
    {% if user.is_authenticated %} 
    <!--- cart -->
    <a href="{% url 'carts:index' %}" class="btn btn-ghost btn-circle avatar" tabindex="0">
      <div class="indicator">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
          />
        </svg>
      </div>
    </a>

    <!--- 個人資料 -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar" tabindex="0">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://i.pinimg.com/736x/43/14/0a/43140a3803e5f1b39c1ffac1a35a3ec7.jpg"
          />
        </div>
      </div>

      <!--- 子選單 -->
      <ul
        tabindex="0"
        class="menu dropdown-content bg-base-100 rounded-box z-1 mt-3 w-72 p-4 shadow gap-6"
      >
        <li>
          <a href="{% url 'members:index' %}">帳號設定(編輯會員資料)</a>
        </li>
        <li>
          <!--- 補上連結 -->
          <a>收藏商家</a>
        </li>
        <li>
          <!--- 補上連結 -->
          <a>收藏商品</a>
        </li>
        <li>
          <a>訂單管理</a>
        </li>
        <li>
          </form>
          {% if request.user.is_authenticated %}
          <form method="POST" action="{% url 'users:delete_session' %}" class="inline-block mt-4 px-4 py-2 bg-black text-white rounded hover:bg-gray-800">
            {% csrf_token %}
            <button type="submit">登出</button>
          </form>
        </li>
      </ul>
    </div>
    {% else %}
    <a href="{% url 'users:sign_in' %}" class="btn bg-black text-white hover:bg-gray-800">登入</a>
    <a href="{% url 'users:sign_up' %}" class="btn bg-black text-white hover:bg-gray-800">註冊</a>
    {% endif %}
  </div>
</div>
{% endif %}