{% load static %}
<div class="dashboard-container">
  <header class="bg-white border-b border-gray-200 px-6 py-4 max-w-7xl mx-auto">
    <div class="flex justify-between items-center">
      <!-- Logo -->
      <div>
        <a href="{% url 'stores:index' %}" class="btn-ghost text-3xl text-[#3A643A]">
          <img src="{% static 'images/fitcal_logo.png' %}" alt="FitCal Logo" class="h-12" />
        </a>
      </div>

      <!-- Navigation -->
      <nav class="flex space-x-1">
        <a href=" # " class="px-4 py-2 border border-gray-400 rounded text-sm font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">基本設定</a>
        <a href="{% url 'stores:management' %}" class="px-4 py-2 border border-gray-400 rounded text-sm font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">商品/庫存管理</a>
        <a href="{% url 'stores:order_list' user.store.id %}" class="px-4 py-2 border border-gray-400 rounded text-sm font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">訂單</a>
        <a href="{% url 'stores:businesses_dashboard' user.store.id %}" class="px-4 py-2 border border-gray-400 rounded text-sm font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">分析報告</a>
        <form action="{% url 'stores:export_sales_csv' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">下載銷售報表</button>
        </form>
      </nav>

      <!-- User Profile -->
      <div class="flex items-center space-x-3">
        <div class="text-sm">
          <div class="text-gray-600">帳號：{{ user.email }}</div>
          <form method="post" action="{% url 'users:delete_session' %}">
            {% csrf_token %}
            <button class="mt-0.5 px-3 py-1 border border-gray-400 rounded text-xm text-gray-700 hover:bg-gray-100">登出</button>
          </form>
        </div>
      </div>
    </div>
  </header>
</div>
